<?xml version="1.0" encoding="utf-8"?>
<configuration>

 <configSections>
   <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
 </configSections>

 <!-- Configure application logging. -->
 <log4net>
               
   <!-- Log to a file in the application directory. -->
   <appender name="FileAppender" type="log4net.Appender.FileAppender"> 
		<file value="LANdrop//LANdrop.log" />
     <threshold value="INFO" />
     <appendToFile value="false" /> 
		<layout type="log4net.Layout.PatternLayout">
     <param name="Header" value="[Begin Log]&#13;&#10;" />
     <param name="Footer" value="[End Log]&#13;&#10;" />
		  <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" /> 
		</layout> 
   </appender>

   <!-- Log to a file in the application directory. -->
   <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
     <file value="LANdrop//Debug.log" />
     <threshold value="DEBUG" />
     <appendToFile value="false" />
     <layout type="log4net.Layout.PatternLayout">
       <param name="Header" value="[Begin Log]&#13;&#10;" />
       <param name="Footer" value="[End Log]&#13;&#10;" />
       <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
     </layout>
   </appender>


   <!-- Sends output to Visual Studio's "Output" window when the application is debugged. -->
   <appender name="OutputWindowAppender" type="log4net.Appender.TraceAppender">
     <threshold value="INFO" />
     <layout type="log4net.Layout.SimpleLayout" />
   </appender>
   
   <root>
     <appender-ref ref="FileAppender" />
     <appender-ref ref="DebugFileAppender" />
     <appender-ref ref="OutputWindowAppender" />
   </root>

   <!-- Example alteration: debug the ServerList class   
   <logger name="LANdrop.Networking.ServerList">
     <level value="DEBUG" />
   </logger>
   -->    
 </log4net> 
</configuration>
